[Desktop Entry]
Name=MtpNavigator Portable Media Player Manager
Name[fr]=MtpNavigator Gestionnaire De Baladeur Multimédia
GenericName=portable media player manager
GenericName[fr]=gestionnaire de baladeur multimédia
Comment=Manage your MTP-protocol based portable media player
Comment[fr]=Gérez votre baladeur multimédia utilisant le protocol MTP
Exec=mtpnavigator
Icon=multimedia-player
Terminal=false
Type=Application
Categories=AudioVideo;Audio;FileTransfer;GTK
